# dependencies
**/node_modules

# pnpm
.pnp
.pnp.*
pnpm-debug.log*

# turbo
**/.turbo/

# next.js
**/.next/
**/out/

# build outputs
**/dist/
**/build/

# testing
**/coverage/

# typescript
*.tsbuildinfo
**/next-env.d.ts

# env files
.env*

# misc
.DS_Store
*.pem
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*